@import 'styles.styl'

amarillo = #edc951
rojo = #cc333f
verde = #35b838

// OOCSS

.RT
	color verde

.FAV
	
	color amarillo

.option-active
	
	border-bottom: 1px solid rojo



#tweets
	
	float: left
	font-size: 16px
	height: 100%
	margin 50px 10px
	padding 20px
	width 350px

.tweet
	
	// border 1px solid blue
	background-color: gris_claro
	margin-bottom 10px
	padding 20px
	position: relative
	box-shadow: 1px 1px 1px rgba(black,0.4);

	.avatar
		
		position: absolute

	.info-user
		
		margin-bottom: 20px
		margin-left: 60px

	p
		margin-left 60px

	.icons
		
		font-size: 18px
		margin-left 50px

		a
			margin-right 10px

			&:last-child
				
				margin-right 0
			

