@import 'styles.styl'

amarillo = #edc951
rojo = #cc333f
verde = #35b838
marron = #6a4a3c


// OOCSS

.RT
	color verde

.FAV
	color amarillo

.content-main
	height 100%

.option-active
	
	border-bottom: 1px solid rojo

.tweets-content
	width 28%
	max-height 530px
	overflow-y scroll
	.new-tweet
		height 3rem
		.pencil
			background-color: rgba(black,.4)	
			color white
			float: left
			font-size 3rem
			height 100%
			text-align center
			width 15%
		.write-tweet
			height 100%
			float: right
			background-color: #f4f4f4
			width 85%
			div
				line-height 3rem
				padding-left 1rem
				color grey	
				


.count-new-tweets
		border 1px solid rojo
		box-shadow rgba(0,0,0,0.3) 0 0 2px
		display block
		margin-top 5px
		text-align center
		padding .2em .4em

#tweets
	
	float: left
	font-size: 16px
	height: 100%
	margin-top .4rem

.tweet
	
	// border 1px solid blue
	background-color: gris_claro
	margin-bottom 10px
	padding .5em 1.2em
	box-shadow: 1px 1px 1px rgba(black,0.4);
	overflow hidden

	.info-user
		overflow hidden
		line-height 50px
		max-height 55px
		figure.avatar
			margin 0
			float left
			img
				border-radius 50%
				width 50px
				height 50px
		.name-user
			margin-left 10px

	.icons
		
		font-size: 18px
		float right

		a
			margin-right 10px

			&:last-child
				
				margin-right 0
.map
	width 71%
	height 530px

.map,.tweets-content
	display inline-block
	vertical-align top


//NEW_PLACE STYLES 

.main
	width 1000px
	margin 0auto

	.form-group
		margin-top 2em
		input,select
			width 415px
		label,input
			display block
			margin-bottom .5em
	h1
		color marron

	form
		width 50%
		margin 0auto
	.btn-submit
		margin-top 1.5em
		button
			background azul_secundario
			border none
			color white
			display block
			padding .4em 5em 
			text-align center
			width 415px









































	

