rojo_primario = #cc333f
azul_secundario = #00a0b0
marron = #6a4a3c
naranja = #eb6841
amarillo = #edc951

gris_claro = #f4f4f4

// OOCSS

.rojo
	color rojo_primario
h3
	font-weight lighter
h4
	font-weight 300
h5
	font-weight 300	

h4,h5
	margin 0

p
	margin-top 4rem

input
	width 98%
	display block
	height 30px
	padding 0
	margin-bottom 1rem !important

form
	width 300px
	margin 0 auto

.wrap
	width 1000px
	margin 4rem auto
	// overflow hidden
	border 2px solid rgba(black,.1)
	padding 3rem
	text-align center 
	font-weight: 200

.register,.message
	display inline-block
	vertical-align top
.register
	
	// border 1px solid red

	width 41%
	margin-right 2rem
	padding-right 4rem
	border-right 1px solid rgba(black,.2)
	// float left

.message
	width 38%

.submit
	background-color azul_secundario
	border none
	color white
	width 100%
	padding: 0
	height 30px

