@import 'normalize.styl'

rojo_primario = #cc333f
azul_secundario = #00a0b0
marron = #6a4a3c
naranja = #eb6841
amarillo = #edc951
gris_claro = #f4f4f4
gris_claro_oscuro = #B2B2B2


body
	
	font-family 'Raleway' , sans-serif;
	font-weight 200
	font-size 18px


a 
	color #b2b2b2
	text-decoration none
h2
	font-weight 400

.margin-top
	margin-top 4em
.margin-bottom
	margin-bottom 12em
.margin-left
	margin-left 4em
.margin-right
	margin-right 4em	

.margin-top-medium
	margin-top 2.5em
.margin-bottom-medium
	margin-bottom 2.5em
.margin-left-medium
	margin-left 2.5em
.margin-right-medium
	margin-right 2.5em	

.padding-top
	padding-top 4em
.padding-bottom
	padding-bottom 4em
.padding-left
	padding-left 4em
.padding-right
	padding-right 4em

.padding-top-large
	padding-top 12em
.padding-bottom-large
	padding-bottom 12em
.padding-left-large
	padding-left 12em
.padding-right-large
	padding-right 12em
.right
	float right

.breaker-left
	border-left 1px solid #edc951

.text-align-center
	text-align center
.text-align-left
	text-align left

.wrap-content
	max-width 900px
	margin 2.5em auto
.p-text
	font-weight 300
.container-main
	width 1080px
	margin 0 auto

.color-azul
	color azul_secundario
header
	background white
	border-bottom 1px solid gris_claro
	height 100px
	width: 100%
	// overflow hidden
	h1
		visibility hidden
		color white
	a
		color #b2b2b2
	.menu-avatar
		float right
		// width 400px
		.avatar-w 
			position relative
			top 22px
			img
				border-radius 50%
				width 60px
				height 60px
		.wrap-search
			position relative
			margin-right 1em
			.icon-search
				background gris_claro_oscuro
				color white
				position absolute
				top -4px
				width: 30px
				line-height 30px
				text-align center

			.input-search
				background gris_claro
				border none
				padding .3em .3em .3em 2em
				width 150px
	nav 
		height 100px
		ul
			display inline
			li
				color #b2b2b2
				display inline-block
				padding-right 50px
				&:last-child
					padding-right 1em
	.logo-brand
		background url('../assets/logo.png') no-repeat 20px 10px
		width 285px
		height 85px
	.logo-brand,.title-brand,.menu-avatar
		display inline-block
		vertical-align top

.call-to-action
	background #00a0b0
	border-bottom: 4px solid #008f9d;
	color white
	padding 0.5em 4em

.content-all
	// position relative
	// margin-top 100px

.content-main
	text-align center
	.content-map
		background url('../assets/bg-map.jpg')
		color #414141
		height 80vh
		.box-central
			background rgba(255,255,255,0.9)
			position relative
			padding 1em
			top 140px
			margin 0 auto
			height 200px
			width: 40%
			box-shadow rgba(65,65,65,0.5) 0px 0px 30px
			h2
				margin-top 10px
				font-size 40px
				span
					font-size 32px
	.cinta-comofunciona
		background rojo_primario
		color white
		font-size 38px
		font-weight 200
		width 100%
		height 120px
		div
			line-height 120px
	.arrow
		margin 0 auto
		width 160px
		height 40px
		&:after
			border-top 30px solid rojo_primario
			border-left 50px solid transparent
			border-right 50px solid transparent
			content ""
			display inline-block
			margin-left .5em		

.how-to-work
	max-width 1100px
	margin 2.5em auto


	.step-1,.step-2,.step-3,.step-4
		background white
		position relative


	.circle-number-step
		border-radius 50%
		border 1px solid #b2b2b2 
		color #b2b2b2
		text-align center
		line-height 100px
		height 100px
		width 100px
		margin 0 auto

		span.number-step
			font-weight 100
			font-size 50px
	
	.copy-lead,.img-browser
		display inline-block
		vertical-align top
	
	.img-browser
		width 55%
		position relative
		z-index 1000
		img
			box-shadow rgba(0, 0, 0, .5) 0px  0px 20px
	.copy-lead
		color #b2b2b2
		width 37%
		h3
			font-size 36px
			font-weight 100
		p
			font-size 20px

	.vertical-line
		border-left 1px solid #b2b2b2
		left 0
		height 739px
		position absolute
		top 101px
		margin 0 auto
		right 0
		width 1px
		z-index 0
	.vertical-line-step-5
		border-left 1px solid #b2b2b2
		left 0
		height 39px
		position absolute
		top -10px
		margin 0 auto
		right 0
		width 1px
		z-index 1000		
	.step-4
		background url('../assets/images/many_dollars.png') no-repeat center -20px
		color #b2b2b2
		padding-top 30px
		h3
			font-size 36px
			font-weight 100
		.wrapper-step-4
			width 550px
			margin 0 auto
			p.lead
				font-size 20px
				margin-bottom 1.5em
		.box-grey
			background #f4f4f4
			padding 0.5em 1em
			margin-top 5em
			ul
				list-style none
				list-style-image url()
				text-decoration none
		.circle-green
			background #71d666
			border 1px solid #71d666
			color white

.maps-timeline-lead
	background url('../assets/images/maps-timeline.jpg')
	color white
	height 346px
	text-align center
	h3
		line-height 346px
		font-size 40px
		font-weight 400
		margin-top 10px
.contact-box
	margin 0 auto

footer
	background url('../assets/images/rag-map.png') no-repeat right bottom, url('../assets/logo.png') no-repeat center
	height 450px
	a
		color #09c8db
	ul
		list-style none
		li
			padding .2em 0

	.contact-right,.contact-left
		display inline-block
		height 60px
		margin 0 auto
		vertical-align middle
		width 200px
	.social-buttons
		
		.btn-facebook
			height 40px
			display inline-block
			overflow hidden
			margin-left 0.5em
			img
				height auto
				&:hover
					margin-top -42px

	.footer-credits
		position relative
		padding 0 0 2em 2em
		margin-top 150px


// Promociones ON
.promociones
	margin-bottom 8em
	font-weight: 300;
	h1
		color marron 
	.cancel
		background naranja
		color white
		padding .5em 1em

.steps
	width 260px
	margin 3em auto
	.step-1,.step-2,.step-3
		border-radius 50%
		border 1px solid gris_claro_oscuro
		color gris_claro_oscuro
		display inline-block
		height 60px
		margin-left 20px
		vertical-align top	
		line-height 60px
		text-align center
		width 60px
	.active
		background rojo_primario
		border none 
		color white
	.pass
		background rgba(rojo_primario,.7)
		border none
		color white
.tipos-promociones
	border-bottom 1px solid gris_claro_oscuro
	padding-bottom .5em
	max-width 800px
	margin 0 auto
	overflow hidden
	.seleccion-action
		background azul_secundario
		color white
		padding .4em 1em
		float right
	p
.form-promotion
	margin 0 auto
	padding 0 0 2em 0
	width 415px
	.form-group
		margin-top 2em
		input,select
			width 415px
		label,input
			display block
			margin-bottom .5em
			// width 100%

	.btn-submit
		margin-top 1.5em
		button
			background azul_secundario
			border none
			color white
			display block
			padding .4em 5em 
			text-align center
			width 415px
.final-text
	width 480px
	margin 0 auto
	.guardar
		background gris_claro_oscuro
		color white
		padding .5em .8em
.promocion
	border 2px solid gris_claro
	padding .1em 1em .6em 1em
	margin 0 auto .6em auto
	overflow hidden
	width 800px
	.date
		color #9C9C9C
	p
		font-weight 300
	a.ver 
		background azul_secundario
		color white
		float right
		padding .3em 1.5em
.new-promotion
	overflow hidden
	a
		background rojo_primario
		border-bottom: 4px solid #A72C36;
		color white
		padding 0.25em 2em
.detalle-promocion
	width 800px
	margin 0 auto
	.tweet
		margin 0 auto
		width 500px
	.statc
		
		text-align center
		.retweets,.favoritos
			display inline-block
			vertical-align top
			margin-left 2em
		h3
			color azul_secundario
			margin 0
			font-size 3em
		span
			color #9C9C9C
.primer-rt
	font-size 16px
	figure
		margin 0
		img
			width 180px
			height 180px
	.tweet-contet
		width 49%
	.photo-user
		width 39%
	.tweet-contet,.photo-user
		display inline-block
		vertical-align top
.usuario
	h3
		color azul_secundario
		margin 0	
	.retweets,.favoritos
		display inline-block
		padding 0 1em 0 1em
	.rt-favs
		text-align center
		width 300px
		margin 0 auto
// Promociones OFF

.icon-book
	background url('../assets/images/icon-book.png') no-repeat center center 
	height 128px

//feedback ON
.icon-megafo
	background url('../assets/images/icon-megafo.png') no-repeat center center 
	height 128px
.feedback
	margin-top 4em
	margin-bottom 13em
//feedback OFF

//sobre ON
.icon-light-console
	background url('../assets/images/icon-light.png') no-repeat 40% center ,url('../assets/images/icon-console.png') no-repeat 60% center
	height 150px
	
//sobre OFF


