rojo_primario = #cc333f
azul_secundario = #00a0b0
marron = #6a4a3c
naranja = #eb6841
amarillo = #edc951
verde = #71D666

gris_claro = #f4f4f4

.main 
	height: 530px

.info
	background-color rgba(gris_claro,.7)
	padding 10px


	figure
		float left
		margin 0

	.profile
		float right
		width 270px
		.name-user
			font-size 30px
			font-weight: 300
	.follow
		background-color: azul_secundario
		height 2rem
		line-height 2rem
		margin 0auto
		text-align center
		width 100%
		a
			color white
	.wrap
		overflow: hidden

.self-info
	border 1px solid rgba(rojo_primario,.2)
	width 100%
	line-height 2rem
	text-align center
	div
		display inline-block
		width 30%

	.number
		font-weight bolder
		font-size 1.5em
	.subtitle
		font-size .5rem
		font-weight lighter

#tweets
	
	margin 0 
	margin-top 1rem
	padding 0
	width 100%
