@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?2tvcnn');
	src:url('fonts/icomoon.eot?#iefix2tvcnn') format('embedded-opentype'),
		url('fonts/icomoon.woff?2tvcnn') format('woff'),
		url('fonts/icomoon.ttf?2tvcnn') format('truetype'),
		url('fonts/icomoon.svg?2tvcnn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e602";
}
.icon-write:before {
	content: "\e603";
}
.icon-down:before {
	content: "\e604";
}
.icon-star:before {
	content: "\f005";
}
.icon-retweet:before {
	content: "\f079";
}
.icon-reply:before {
	content: "\f112";
}
.icon-check:before {
	content: "\e116";
}
.icon-search:before {
	content: "\e600";
}
